<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<meta charset="utf-8">
<meta name="listViewport" content="width=device-width, initial-scale=1">
<title id="title">Hawk</title>
<body>
	<div th:insert="fragments/configrator/pcHeader :: header"></div>
	<div th:insert="fragments/configrator/listViewDetails :: header"></div>
	<script src="/hawkJs/configrator/listViewDetails.js"></script>

	<div id="listViewDetails">
		<div class="card-body">
			<div class="col-md-12">
				<div class="card card-secondary">
					<div class="card-header">
						<h3 class="card-title">Report</h3>
						<div class="card-tools">
							<button class="btn btn-success" onclick="loadListViewEditModal()">New</button>
							<button type="button" class="btn btn-tool"
								data-card-widget="collapse" title="Collapse">
								<i class="fas fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="card-body table-responsive" id="listViewReportDiv">
					</div>
				</div>
			</div>
		</div>
	</div>



	<script>
		try {
			progressBar(true);
			DashboardRendar("ListView", "listViewDetails")
			getAllListViewDetails(true);
			getAllSelectQtags(true);

		} catch (err) {
			errorTost(err);
			console.log("ERROR :  " + err);
		} finally {
			progressBar(false);
		}
	</script>

	<!-- Page specific script -->
</body>
</html>
