<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<script src="/hawkJs/configrator/questionDetails.js"></script>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title id="title">Hawk</title>
<body>
	<div th:insert="fragments/configrator/pcHeader :: header"></div>
	<div th:insert="fragments/configrator/questionDetails :: header"></div>

	<div id="questionDetails">
		<!-- Content Header (Page header) -->
		<!-- Main content -->
		<div class="col-md-12">		
			<div class="card card-primary card-tabs">
				<div class="card-header p-0 pt-1">
					<ul class="nav nav-tabs" id="newClientTab" role="tablist">

						<li class="nav-item"><a class="nav-link active"
							id="custom-tabs-two-profile-tab" data-toggle="pill"
							href="#custom-tabs-two-profile" role="tab"
							aria-controls="custom-tabs-two-profile" aria-selected="true"
							onclick="getAllQuestionDetails(true)">Question Details</a></li>

						<li class="nav-item"><a class="nav-link"
							id="custom-tabs-two-messages-tab" data-toggle="pill"
							href="#custom-tabs-two-messages" role="tab"
							aria-controls="custom-tabs-two-messages" aria-selected="false"
							onclick="getUsersDetails(true)">Users</a></li>

						<li class="nav-item"><a class="nav-link" id="packageTab"
							data-toggle="pill" href="#assessmentTabContainer" role="tab"
							aria-controls="assessmentTabContainer" aria-selected="false" onclick="getPackageDetails(true)">Packages
						</a></li>
					</ul>
				</div>
				<div class="card-body">
					<div class="tab-content" id="newClientTabContent">
						<div class="tab-pane fade show active"
							id="custom-tabs-two-profile" role="tabpanel"
							aria-labelledby="custom-tabs-two-profile-tab">
							<div class="col-md-12">
								<div class="card card-secondary">
									<div class="card-header">
										<h3 class="card-title">Report</h3>
										<div class="card-tools">
											<button class="btn btn-success"
												onclick="loadQuestionEditModal()">New</button>
											<button type="button" class="btn btn-tool"
												data-card-widget="collapse" title="Collapse">
												<i class="fas fa-minus"></i>
											</button>
										</div>
									</div>
									<div class="card-body table-responsive" id="questionReportDiv"></div>
								</div>
							</div>
						</div>


						<div class="tab-pane fade" id="custom-tabs-two-messages"
							role="tabpanel" aria-labelledby="custom-tabs-two-messages-tab">
							<div class="card card-solid">
								<div class="card-body pb-0">
									<div class="col-md-12">
										<div class="card card-secondary">
											<div class="card-header">
												<h3 class="card-title">Report</h3>
												<div class="card-tools">
													<button class="btn btn-success"
														onclick="loadUserDedatisModal()">New</button>
													<button type="button" class="btn btn-tool"
														data-card-widget="collapse" title="Collapse">
														<i class="fas fa-minus"></i>
													</button>
												</div>
											</div>
											<div class="card-body table-responsive"
												id="userDetailsReport"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //////////////////////ASSESMENT  -->
						<div class="tab-pane fade" id="assessmentTabContainer"
							role="tabpanel" aria-labelledby=packageTab>
							<div class="card card-solid">
								<div class="card-body pb-0 row">
									<div class="col-md-12 ">
										<div class="col-md-12">
											<div class="card card-secondary">
												<div class="card-header">
													<h3 class="card-title">Report</h3>
													<div class="card-tools">
														<button class="btn btn-success"
															onclick="loadPackageDetailsModal(true)">New</button>
														<button type="button" class="btn btn-tool"
															data-card-widget="collapse" title="Collapse">
															<i class="fas fa-minus"></i>
														</button>
													</div>
												</div>
												<div class="card-body table-responsive" id="packageDetailsReportDiv"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<!-- /.card -->
					</div>

				</div>
			</div>
		</div>
		<!-- /.card -->
	</div>
	<script>
		try {
			progressBar(true);
			DashboardRendar("Questions","questionDetails")
			getAllQuestionDetails(true);
			
		} catch (err) {
			errorTost(err);
			console.log("ERROR :  " + err);
		} finally {
			progressBar(false);
		}
		</script>

	<!-- Page specific script -->
</body>
</html>
