<div class="row" th:fragment="header" id="questionDetailsFragment">
	<!-- Modal -->
	<div id="questionDetailsDiv">
		<div class="modal fade" id="questionDetailsModal" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="row">
							<h5 class="modal-title" id="exampleModalLabel">General
								Information</h5>
						</div>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body overflow-auto">
						<div class="box clearfix">
							<form name="questionDetailsForm" id="questionDetailsForm">
								<input id="id" name="id" type="hidden">
								<div class="row">
									<div class="col-md-12">
										<div class="card card-primary">
											<div class="card-body">
												<div class="row">


													<div class="col-md-6">
														<div class="form-group">
															<label for="qTag">QTag</label><label>*</label><input
																type=label name="qtag" id="qtag" class="form-control"
																readonly="readonly">
														</div>
													</div>

													<div class="col-md-6">
														<div class="form-group">
															<label for="referral">index</label> <input type="text"
																name="index" id="index" class="form-control textfield"
																onkeypress="return isNumber(event)"
																onpaste="return false;" required="required">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="inputStatus">Status <label>*</label></label>
															<select required="required" name="status" id="status"
																class="form-control custom-select">
																<option value="" selected disabled>Select one</option>
																<option class="option" value=1>Active</option>
																<option class="option" value=2>Idle</option>
																<option class="option" value=3>Closed</option>
																<option class="option" value=4>Inprogress</option>
															</select>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="elementType">ElementType <label>*</label></label>
															<select required="required" name="elementType"
																id="elementType" class="form-control custom-select">
																<option value="" selected disabled>Select one</option>
																<option class="option" value="input">Input</option>
																<option class="option" value="label">Label</option>
																<option class="option" value="button">Button</option>
																<option class="option" value="select">DropDown</option>
															</select>
														</div>
													</div>

													<div class="col-md-6">
														<div class="form-group">
															<label for="referral">Unique</label> <select
																required="required" name="unique" id="unique"
																class="form-control custom-select">
																<option class="option" value="1">True</option>
																<option class="option" value="2">False</option>

															</select>
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label for="options">Options</label>
															<textarea name="options" id="options"
																class="form-control" rows="2" disabled="disabled"></textarea>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="dataType">DataType <label>*</label></label> <select
																required="required" name="dataType" id="dataType"
																class="form-control custom-select">
																<option value="" selected disabled>Select one</option>
																<option class="option" value="text">Text</option>
																<option class="option" value="number">Number</option>
																<option class="option" value="email">Email</option>

															</select>
														</div>
													</div>

													<div class="col-md-6">
														<div class="form-group">
															<label for="defaultValue">DefaultValue<label>*</label></label>
															<input type="text" name="defaultValue" id="defaultValue"
																value='0' class="form-control">
														</div>
													</div>

													<div class="col-md-6">
														<div class="form-group">
															<label for="name">Name<label>*</label></label> <input
																type="text" name="name" id="name" class="form-control"
																required="required">
														</div>
													</div>

													<div class="col-md-6">
														<div class="form-group">
															<label for="answerType">AnswerType<label>*</label></label>
															<select required="required" name="answerType"
																id="answerType" class="form-control custom-select">
																<option value="" selected disabled>Select one</option>
																<option class="option" value="native">Native</option>
																<option class="option" value="linked">Linked</option>

															</select>
														</div>
													</div>

													<!-- 													<div class="col-md-6">
														<div class="form-group">
															<label for="trigerAction">TrigerAction<label>*</label></label>
															<input type="text" name="trigerAction" id="trigerAction"
																class="form-control">
														</div>
													</div> -->


													<div class="col-md-12">
														<div class="form-group">
															<label for="required">Required <label>*</label></label> <select
																required="required" name="required" id="required"
																class="form-control custom-select">
																<option value="" selected disabled>Select one</option>
																<option class="option" value=1>Yes</option>
																<option class="option" value=0>No</option>
															</select>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group">
															<label for="options">Style</label>
															<textarea name="style" id="style" class="form-control"
																rows="2"></textarea>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group">
															<label for="options">Css Class</label>
															<textarea name="cssClass" id="cssClass"
																class="form-control" rows="2"></textarea>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="name">On-Click</label> <input type="text"
																name="onClick" id="onClick" class="form-control">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="name">On-Change</label> <input type="text"
																name="onCHange" id="onChange" class="form-control">
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label for="description">Attributes</label>
															<textarea name="attributes" id="attributes"
																class="form-control" rows="2"></textarea>
														</div>
													</div>


													<div class="col-md-12">
														<div class="form-group">
															<label for="description">Description</label>
															<textarea name="description" id="description"
																class="form-control" rows="2"></textarea>
														</div>
													</div>
												</div>

											</div>
											<!-- /.card-body -->
										</div>
										<!-- /.card -->
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary btn-success"
							onclick="if(formValidation('questionDetailsForm')){setQuestionDetails();}">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END MODAL -->
</div>
<script>
	
</script>