<div class="row" th:fragment="header" id="webPageDetailsFragment">
	<!-- Modal -->
	<div id="webPageDetailsDiv">
		<div class="modal fade" id="webPageDetailsModal" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="row">
							<h5 class="modal-title" id="exampleModalLabel">General
								Information</h5>
						</div>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body overflow-auto">
						<div class="box clearfix">
							<form name="webPageDetailsForm" id="webPageDetailsForm">
								<input id="id" name="id" type="hidden">
								<div class="row">
									<div class="col-md-12">
										<div class="card card-primary">
											<div class="card-body">
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label for="client_Name">Menu Group<label>*</label></label>
															<input type="text" name="menuGroup" id="menuGroup"
																class="form-control" required="required">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="referral">Tab Order</label> <input
																type="text" name="tabOrder" id="tabOrder"
																class="form-control textfield"
																onkeypress="return isNumber(event)"
																onpaste="return false;" required="required">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="client_Name">Page Code<label>*</label></label>
															<input type="text" name="pageCode" id="pageCode"
																class="form-control" required="required">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="client_Name">Name<label>*</label></label> <input
																type="text" name="name" id="name" class="form-control"
																required="required">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="client_Name">Title<label>*</label></label> <input
																type="text" name="title" id="title" class="form-control"
																required="required">
														</div>
													</div>

													<div class="col-md-6">
														<div class="form-group">
															<label for="inputStatus">Status <label>*</label></label>
															<select required="required" name="status" id="status"
																class="form-control custom-select">
																<option value="" selected disabled>Select one</option>
																<option class="option" value=1>Active</option>
																<option class="option" value=2>Idle</option>
																<option class="option" value=3>Closed</option>
																<option class="option" value=4>Inprogress</option>
															</select>
														</div>
													</div>


													<div class="col-md-6">
														<div class="form-group">
															<label for="inputStatus">ApplicableFor<label>*</label></label>


															<select required="required" name="applicableFor"
																id="applicableFor" class="form-control custom-select">
																<optgroup label="SUPPERUSERS">
																	<option value="500">500</option>
																</optgroup>
																<optgroup label="ADMINUSERS">
																	<option value="300">300</option>
																</optgroup>
																<optgroup label="TRAINERS">
																	<option value="200">200</option>
																</optgroup>
																<optgroup label="CLIENTS">
																	<option value="100">100</option>
																</optgroup>
																<optgroup label="GUESTS">
																	<option value="0">0</option>
																</optgroup>
																<optgroup label="PD_ADMIN">
																	<option value="900">900</option>
																</optgroup>
															</select>
														</div>
													</div>


													<div class="col-md-12">
														<div class="form-group">
															<label for="description">Description</label>
															<textarea name="description" id="description"
																class="form-control" rows="2" required="required"></textarea>
														</div>
													</div>
													<div class="col-12">
														<div class="form-group">
															<label>Views</label> <select
																class="duallistbox mdb-select colorful-select dropdown-primary"
																multiple="multiple" name="applicableViewList"
																id="applicableViewList" title="applicableViewList">
															</select>
														</div>
													</div>
												</div>

											</div>
											<!-- /.card-body -->
										</div>
										<!-- /.card -->
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary btn-success"
							onclick="if(formValidation('webPageDetailsForm')){setWebPageDetails();}">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END MODAL -->
</div>
<script>
	
</script>